<!doctype html>
<head>
  <title>Hot Dog!</title>

  <style>
    body {
      background-color: #311652;
      text-align: center;
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
      font-size: 60px;
    }
    p {
      font-size: 30px;
    }
    a {
      color: #ffffff;
      text-decoration: underline;
    }
    img {
      width: 480px;
      height: auto;
    }
    
  </style>
</head>
<body>
  <h1>Hot Dog!</h1>

  <p>You really love this doggo! We've saved it for you.</p>

  <div>
    <img src="{{dog}}" /><br />
  </div>

  <p>Choose another dog? <a href="/">See more dogs!</a></p>

</body>
